[Desktop Entry]
Name=Icosele VM
Exec=/home/jl/qemu-gui/.venv/bin/python /home/jl/qemu-gui/main.py
Icon=/home/jl/qemu-gui/assets/icon.png
Type=Application
Categories=System;Emulator;
StartupWMClass=icosele-vm
Terminal=false
